@media screen and (max-width: 991px) {
  h3 {
    font-size: 1.2rem;
  }

  .nav-toogle {
    display: block;
    margin: 20px;
  }

  .main-nav {
    overflow: initial;
  }

  .nav-links {
    position: absolute;
    background-color: white;
    left: -100%;
    top: 100%;
    width: 100%;
    padding-block: 20px;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links ul {
    flex-direction: column;
  }

  .example-area {
    gap: 20px;
  }

  .example-card {
    width: calc(50% - 10px);
    height: 200px;
  }

  .cta-section {
    padding-block: 80px;
  }
}

@media screen and (max-width: 767px) {
  .primary-button {
    width: 100%;
  }

  .header-section {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .header-left {
    width: 100vw;
    text-align: center;
  }

  .header-left p {
    padding-right: 0px;
  }

  .feature {
    width: calc(50% - 20px);
  }

  .big-feature,
  #second-big-feature {
    flex-direction: column;
  }

  .footer {
    padding-block: 40px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .link-column {
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  :root {
    --padding-inline-section: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  header {
    padding-top: 40px;
  }

  .feature {
    min-width: 100%;
  }

  .features-area {
    gap: 20px;
  }

  .feature-section {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
    background-size: 900px;
  }

  .cta-section {
    padding-block: 60px;
  }

  .cta-section-container p {
    /* gap: 20px; */
    margin-top: 0px;
  }

  .example-card {
    width: 100%;
  }
}
